body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.logo {
  width: 75%;
  margin-left: 10%;
  margin-top: 5%;
}

.rbc-month-view {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 100px;
  flex: 100px;
  overflow: hidden;
  /* height: 50rem !; */
}

.objectives {
  text-indent: 50px;
}

.rbc-calendar {
  min-height: 600px !important;
}

.main {
  padding-left: 300px;
}

/* to move main text over */
@media only screen and (max-width : 992px) {
 .main {
    padding-left: 0;
  }
}

a navLinks {
  color: rgba(0,0,0,0.87);
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
}

.lessons-btn a:link, .lessons-btn a:visited {
  color: white;
  text-decoration: none;
}
